<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>1575F37B-0D5B-4138-AD1C-A795C5090402</string>
	<key>title</key>
	<string>Android 线程优化</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
